.scrollable-container {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap; /* Evita que las imágenes se rompan en líneas */
}

.scrollable-content {
    display: inline-block; /* Hace que los elementos se muestren en línea y evita saltos de línea */
    width: auto; /* Ancho automático para que los elementos se ajusten al contenido */    
}

.album-item {
    position: relative;
    width: 192px;
    margin: 8px 10px 0 0;
    height: 150px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-out; 
}
 

p{
    text-align: justify;
    font-size: 15px;
}

h1{
    font-size: 30px;
}

img{
    width: 100%;
}
.btn {
 	color: rgb(0, 0, 0) !important;
	border: 1px solid;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgb(0, 0, 0) ;
 	text-align:center;
	width: 5%;
 }

.card-title{
    font-weight: bold;
    font-size: 15px;
    font-family: bmw;
}

.card-text{
    font-size: 18px;
}

.margen1{
    margin-top: 10px;
}
  
.txt{
    font-size: 35px;
    font-family: BMW;
}

.txt2{
    font-size: 15px;
    line-height: 1.6;
}

.margen{
  margin-top: 50px;
  margin-bottom: 50px;
}


.trash-content {
    padding: 5px;
    position: absolute;
	right: 5px;  
    top: 5px;  
	min-width: 10px;
	min-height: 10px;  
    color:#fff;  
	background: rgba(31, 30, 31, 0.6); 
    border-radius: 20%;
    cursor: pointer;
}