<!-- <app-new-nav></app-new-nav> -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <div class="row mb-3">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Solicitudes Citas de valuación HyP</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin/bodywork_paint_technician']">Overview</li>
                            <li class="breadcrumb-item active" aria-current="page">Citas de valuación HyP</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="dflex flex-wrap mb-3 barra">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Buscar..</mat-label>
                        <input matInput [(ngModel)]="palabra_busqueda" placeholder="Buscar por nombre, apellidos, marca, modelo, vin, año"> <!-- [(ngModel)]="palabra_busqueda" (keyup)="searchKeyboard()"-->
                    </mat-form-field>
                </div>
            </div>

            <div class="dflex justify-content-center mat-table-container">
                <div class="mat-elevation-z8 w-100">
                    <table mat-table [dataSource]="dataSource" class="w-100">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                            <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre cliente</th>
                            <td mat-cell *matCellDef="let row">{{row.appointment.customer.name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos cliente</th>
                            <td mat-cell *matCellDef="let row">{{row.appointment.customer.last_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca auto</th>
                            <td mat-cell *matCellDef="let row">{{row.appointment.vehicle.brand_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo auto</th>
                            <td mat-cell *matCellDef="let row">{{row.appointment.vehicle.model_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="vin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>VIN</th>
                            <td mat-cell *matCellDef="let row">{{row.vehicle === null ? '00000000000000000' : row.vehicle.vin}}</td>
                        </ng-container>

                        <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                            <td mat-cell *matCellDef="let row">{{row.appointment.vehicle.year}}</td> 
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                            <td mat-cell *matCellDef="let row">
                              <span class="badge rounded-pill" [ngClass]="{
                                'bg-secondary' : row.status === 'to_appraise',
                                'bg-primary' : row.status === 'on_progress' || row.status === 'checklist_ready'
                              }">
                                {{
                                  (row.status === 'to_appraise') ? 'Por valuar' :
                                  (row.status === 'on_progress') ? 'En progreso' :
                                  (row.status === 'checklist_ready') ? 'Listo p/valuar' : 'L.P. Venta'
                                }}
                              </span>
                            </td> 
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Acciones</th>
                            <td mat-cell *matCellDef="let row">
                               <button *ngIf=" row.status_repairs === 'pending_review'" mat-button type="button" class="btn text-dark mx-2" [matMenuTriggerFor]="menu">
                                  Opciones
                               </button>
                              <mat-menu #menu="matMenu">
                                <a mat-menu-item (click)="openBodyworkPaint(row.uuid, row.repairs)">
                                  Comenzar
                                </a>
                              </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [length]="length" [pageIndex]="page - 1" (page)="paginationChange($event)"></mat-paginator>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Caja de luz -->
    <div *ngIf="selectedImageUrl" class="lightbox" (click)="closeLightbox()">
        <div class="lightbox-content" (click)="$event.stopPropagation()">
            <img [src]="selectedImageUrl" alt="Imagen seleccionada">
            <button class="close-btn" (click)="closeLightbox()">X</button>
        </div>
    </div>

</div>
