.margin-top {
    margin-top: 4%;
}

@media only screen and (max-width: 1100px) {
    .margin-top {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 850px) {
    .margin-top {
        margin-top: 9%;
    }
}

@media only screen and (max-width: 600px) {
    .margin-top {
        margin-top: 13%;
    }
}

@media only screen and (max-width: 400px) {
    .margin-top {
        margin-top: 20%;
    }
}
