@supports (-webkit-backdrop-filter: blur(5px)) {
  .swiper-slide {
    background-color: transparent !important; /* Aseguramos fondo transparente en Safari */
  }
}

.swiper-slide {
  height: 300px !important;
  width: 300px !important;
  overflow: hidden; /* Aseguramos que cualquier contenido fuera de los límites del slide se oculte */
}

.swiper-content {
  cursor: pointer;
  transition: transform 0.3s;
  margin: 10px;
}

.swiper-content:hover {
  transform: scale(1.05);
}

.swiper-image {
  width: 100%; /* Aseguramos que la imagen ocupe todo el ancho del slide */
  height: 100%; /* Hacemos que la imagen ocupe toda la altura del slide */
  object-fit: contain; /* Cambiamos de cover a contain para evitar el recorte y asegurar que la imagen se ajuste sin perderse */
  object-position: center center; /* Centramos la imagen para evitar que se desplace si hay espacio vacío */
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-container {
  position: relative;
  width: auto;
  max-width: 90%;
  margin-top: 50px;
}

.modal-content {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 3px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Asegura que el botón no se salga de los límites */
  max-height: 100%; /* Asegura que el botón no se salga de los límites */
  box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
}

.buttonClose:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Botón de especificaciones */
.buttonSpecs {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 120px;
  font-size: 12px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Asegura que el botón no se salga de los límites */
  max-height: 100%; /* Asegura que el botón no se salga de los límites */
  box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
}

.buttonSpecs a {
  color: #000;
}

.buttonSpecs:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Media Queries */
@media screen and (min-width: 300px) and (max-width: 349px){
  .swiper-slide {
    height: 300px !important;
    width: 300px !important;
  }
}

@media screen and (min-width: 350px) and (max-width: 450px){
  .swiper-slide {
    height: 300px !important;
    width: 300px !important;
  }
}

@media screen and (min-width: 451px) and (max-width: 540px){
  .swiper-slide {
    height: 150px !important;
    width: 150px !important;
  }
}

@media screen and (min-width: 541px) and (max-width: 767px){
  .swiper-slide {
    height: 175px !important;
    width: 175px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .swiper-slide {
    height: 200px !important;
    width: 200px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1091px){
  .swiper-slide {
    height: 310px !important;
    width: 310px !important;
  }
}
