<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <div class="text-center">
                <h1 class="fs-2 fw-bold">Noticias.</h1>
                <h5 class="fs-5 fw-light">Explora el mundo ABcars.</h5>
            </div>

            <!-- Posts -->
             <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2" *ngFor="let post of posts">
                    <!-- <app-a-post [post]="post" (reload)="procesaPropagar($event)"></app-a-post> -->
                    <app-a-post-public [post]="post" [routerLink]="['/abc_blog/detail', post.url_name]" ></app-a-post-public> <!--(reload)="procesaPropagar($event)"-->
                </div>
             </div>

             <!-- Pagination -->
            <div class="row">
                <div class="col-12 mb-3 mb-5">
                    <mat-paginator [length]="paginator_length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex - 1" aria-label="Select page" (page)="paginationChange($event)" #paginador>
                    </mat-paginator>                                        
                </div>
            </div>

        </div>
    </div>
</div>
