/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/*
  Este archivo se deja intencionadamente en blanco.
  Todos los estilos globales se manejan ahora a través de Tailwind CSS.
  No añadir CSS/SCSS aquí para evitar conflictos de especificidad.
*/

// @font-face {
//   font-family: 'Montserrat'; //This is what we are going to call
//   src: url('assets/fonts/Montserrat-Regular.ttf');
// }

// @font-face {
//   font-family: 'Montserrat-bold'; //This is what we are going to call
//   src: url('assets/fonts/Montserrat-Bold.ttf');
// }

// @font-face {
//   font-family: 'Montserrat-italic'; //This is what we are going to call
//   src: url('assets/fonts/Montserrat-BlackItalic.ttf');
// }
