<div class="container">
    <section>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-5">
                <p class="info-text">
                    Al vender tu vehículo en <span>Abcars</span>
                </p>
                <p class="info-text mb-4">
                    obtienes pago rápido y seguro
                </p>
                <hr class="info-text mb-4">

                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Valuamos tu auto en nuestra sucursal.
                </p>
                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Respuesta rápida y transparente.
                </p>

                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Tomamos tu auto a cuenta.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-5">
                <div class="image_box">
                    <img src="assets/images/abcars-images/kisspng-luxury.svg" alt="imagen" class="principal_image_car">
                </div>
            </div>
        </div>
    </section>

    <section class="section_form mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="fs-1 fw-bold">Detalles de tu Venta</h1>
                    <h5 class="fs-4 fw-bold aaa">Proporciona la información requerida para continuar con tu proceso para vender tu auto.</h5>
                </div>

                <div class="row mt-5 mb-5">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombres(s)</mat-label>
                                        <input matInput type="text" placeholder="Ingresa tu nombre" formControlName="name" required>
                                        <mat-hint *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellidos</mat-label>
                                        <input matInput type="text" placeholder="Ingresa tus apellidos" formControlName="last_name" required>
                                        <mat-hint *ngIf="surnameInvalid">Complete sus apellidos</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Correo Electrónico</mat-label>
                                        <input matInput type="email" placeholder="Ingresa tu email" formControlName="email" required>
                                        <mat-hint *ngIf="emailInvalid">Escriba un correo electrónico válido.</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Número de teléfono</mat-label>
                                        <input matInput type="tel" placeholder="Ingresa tu número telefónico" formControlName="phone_1" #phone (keyup)="maxLengthCheck(phone)" maxlength="10" required>
                                        <mat-hint *ngIf="phoneLength">Su número debe ser de 10 dígitos, verifique.</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col-12 col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Marca</mat-label>
                                        <input matInput type="text" formControlName="brand_name" [matAutocomplete]="autoBrand">
                                        <mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandSelected($event)">
                                            <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand.name">
                                                {{ brand.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-hint *ngIf="brandInvalid">Escribe la marca del vehículo.</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Modelo</mat-label>
                                        <input type="text" matInput formControlName="model_name" [matAutocomplete]="autoModel">
                                        <mat-autocomplete #autoModel="matAutocomplete" (optionSelected)="onModelSelected($event)">
                                            <mat-option *ngFor="let model of filteredModels | async" [value]="model.name">
                                                {{ model.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-hint *ngIf="modelInvalid">Escribe el modelo del vehículo.</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Año</mat-label>
                                        <mat-select placeholder="Seleccione el año del vehículo" formControlName="year" required>
                                            <mat-option *ngFor="let year of years" value="{{ year }}">{{ year }}</mat-option>
                                            
                                        </mat-select>
                                        <mat-hint *ngIf="yearInvalid">Seleccione un año.</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Kilometraje</mat-label>
                                        <input matInput type="number" placeholder="000000" min="1" max="9999999999" formControlName="mileage" #mileage (keyup)="maxLengthCheck(mileage)" maxlength="10" required>
                                        <mat-hint *ngIf="mileageInvalid">Teclee el kilometraje de su vehículo.</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Fecha de cita</mat-label>
                                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="scheduled_date" required>
                    
                                        <mat-hint *ngIf="!dateInvalid">DD/MM/YYYY</mat-hint>
                                        <mat-hint *ngIf="dateInvalid">Asigne la fecha de su cita</mat-hint>
                    
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hora de cita</mat-label>
                                        <input matInput type="time" formControlName="hour" format="hh:mm" min="09:00" max="18:00" step="900" required>
                                        <mat-hint *ngIf="hourInvalid">Asigne la hora de su cita</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Sucursal</mat-label>
                                        <mat-select placeholder="Seleccione la sucursal" formControlName="dealership_name" required>
                                            <mat-option *ngFor="let sucursal of sucursales" value="{{sucursal.name}}">
                                                {{sucursal.name}}
                                            </mat-option>
                                            
                                        </mat-select>
                                        <mat-hint *ngIf="dealership_nameInvalid">Elija la sucursal.</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-checkbox formControlName="checkbox" required>
                                        Acepto <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/privacidad-de-uso']">Aviso</a>,
                                        <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/terminos-y-condiciones']">Términos y Condiciones</a>.
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 text-end">                        
                                    <button mat-button type="submit" class="btn abcars-background-color-blue rounded-pill mx-2 px-3" [disabled]="form.invalid || spinner">
                                        <span *ngIf="!spinner">Enviar</span>
                                        <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
