<mat-card class="example-card">
    <mat-card-header>      
      <mat-card-title>Cargar imagenes</mat-card-title>      
    </mat-card-header>    
    <mat-card-content class="m-5">
        <div class="avatar-edit">
            <label for="images" class="drop-container">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" id="picture" accept=".png, .jpg, .jpeg, .webp" multiple (change)="assignImage($event)" required>
            </label>            
        </div>
    </mat-card-content>
    <mat-card-actions class="mx-auto">
      <button mat-button class="btn abcars-background-color-blue mx-2" (click)="uploadImages()" [disabled]="disabled">Subir</button>
      <button mat-button class="btn abcars-background-color-black" (click)="close()">Cancelar</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="loading">
      <mat-progress-bar mode="indeterminate" class="mt-5"></mat-progress-bar>
    </mat-card-footer>
</mat-card>