<div class="container">
    <!-- Arror Back -->
    <div class="row">
        <div class="col-12 py-5" style="margin-top: 95px;">
            <a class="text-decoration-none text-dark" [routerLink]="[url_dashboard]">
                <i class="fas fa-arrow-left"></i> Regresar
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3 class="fs-3 fw-bold">Perfil</h3>
            <h6 class="fs-6 fw-light">Aquí podrás editar tu información en caso de actualización o estar incorrecta.</h6>
        </div>
    </div>

    <hr />

    <div>
        <div class="row">
            <ng-container *ngIf="activeC; else elseTemplate">
                <app-sk-cube></app-sk-cube>
            </ng-container>

            <ng-template  #elseTemplate>
                <!-- Picture & Information Customer -->
                <div class="row">
                    <!-- Picture -->
                    <div class="col-12 col-md-4 mt-4">
                        <h5 class="fs-6 fw-bold text-light text-dark">Tu Fotografía</h5>

                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="picture" accept=".png, .jpg, .jpeg" (change)="updateImage($event)" />
                                <label for="picture"></label>
                            </div>

                            <div class="avatar-preview mx-auto">
                                <img id="imagePreview" [src]="image_path" alt="User Picture Imagen" />
                            </div>
                        </div>
                    </div>

                    <!-- Information -->
                    <div class="col-12 col-md-8 mt-4 mb-5">
                        <h5 class="fs-6 fw-bold text-light text-dark">Tu información</h5>

                        <!-- Form Customer -->
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre de perfil (Nickname)</mat-label>
                                        <input matInput type="text" placeholder="Activitus99" formControlName="nickname">
                                    </mat-form-field>

                                    <mat-error *ngIf="form.get('nickname')?.hasError('maxlength')">
                                        El nickname no puede tener más de 25 caracteres.
                                    </mat-error>
                                    <mat-error *ngIf="form.get('nickname')?.hasError('pattern')">
                                        El nickname debe contener solo letras, números, guiones bajos y espacios.
                                    </mat-error>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre(s)</mat-label>
                                        <input matInput type="text" placeholder="Louis" formControlName="name">
                                        <mat-hint *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellidos</mat-label>
                                        <input matInput type="text" placeholder="Chevrolet" formControlName="last_name">
                                        <mat-hint *ngIf="lastnameInvalid">Complete sus apellidos.</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Género</mat-label>
                                        <mat-select matInput formControlName="gender">
                                            <mat-option value="female">Mujer</mat-option>
                                            <mat-option value="male">Hombre</mat-option>
                                        </mat-select>
                                        <mat-hint *ngIf="genderInvalid">Seleccione el género.</mat-hint>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Correo Principal</mat-label>
                                        <input matInput type="email_1" placeholder="a@b.c" formControlName="email_1">
                                        <mat-hint *ngIf="emailOneInvalid">Ingrese un correo electrónico válido.</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Correo Alternativo</mat-label>
                                        <input matInput type="email_2" placeholder="d@e.f" formControlName="email_2">
                                        <mat-hint *ngIf="emailTwoInvalid">Ingrese un correo electrónico válido.</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">             

                                <!-- Phone One -->
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Teléfono Principal</mat-label>
                                        <input matInput type="tel" placeholder="1234567890" formControlName="phone_1">
                                        <mat-hint *ngIf="phoneOneInvalid">Ingrese un número telefónico válido.</mat-hint>
                                    </mat-form-field>
                                </div>

                                <!-- Phone Two -->
                                <div class="col-12 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Teléfono Secundario</mat-label>
                                        <input matInput type="tel" placeholder="1234567890" formControlName="phone_2">
                                        <mat-hint *ngIf="phoneTwoInvalid">Ingrese un número telefónico válido.</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mt-3 mx-auto text-center">
                                    <div class="text-center mt-3">
                                        <button mat-raised-button type="submit"
                                            class="btn abcars-background-color-blue mt-3  mx-2 px-3"
                                            [disabled]="form.invalid || spinner">                                
                                            <span *ngIf="!spinner">Actualizar</span>
                                            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>                                    
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>