@font-face {
    font-family: 'BMW';
    src: url('/assets/Fonts/BMWTypeNextTT-Light.ttf');
}

mat-form-field { 
    width: 100%;
}

button {
    width: 80%;
}

.avatar-upload {
    position: relative;

    .avatar-edit {
        position: absolute;
        right: 50px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 2px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover:after {
                    content: "Actualiza tu foto de perfil";
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #333;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 12px;
                    white-space: nowrap;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                }
                &::before {
                    font-family: 'Font Awesome 6 Free'; // Asegúrate de que coincide con la fuente FontAwesome usada
                    content: "\f0ee"; // Código del ícono
                    color: #0098f0;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                    font-weight: 900;
                    font-size: large;
                }
            }
        }
    }

    .avatar-preview {
        width: 15vw;
        height: 15vw;
        overflow: hidden;
        border-radius: 50%;
        position: relative;        
        border: 3px solid #eeb8389e;
        box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.39);
    }

    .avatar-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 740px) {
    .avatar-edit {
        right: 80px !important;
    }

    .avatar-preview {
        width: 50vw !important;
        height: 50vw !important;
    }
}
