mat-hint {
    color: #f44336 !important;
}

.margin-b-5 {    
    margin-bottom: 15px !important;
}

.label-file {
    display: block;
    margin-bottom: 70px;
}

input[type=file] {
    width: 450px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #008bcc;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}