<!-- <app-new-nav></app-new-nav> -->
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h4 class="fs-4 fw-bold text-truncate">Checklist de Valuación</h4>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" [routerLink]="['/admin/technician']">Overview</li>
                    <li class="breadcrumb-item" [routerLink]="['/admin/technician/appointment']">Citas de valuación</li>
                    <li class="breadcrumb-item active" aria-current="page">Checklist de valuación</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row mb-5">
        <mat-stepper #stepper (selectionChange)="onStepChange($event)">
            <mat-step [stepControl]="customerInformationForm" errorMessage="customerInformationForm">
                <form [formGroup]="customerInformationForm">
                    <ng-template matStepLabel>Información Cliente</ng-template>
                    <div class="col-12">

                        <h3 class="fw-light text-truncate">
                            Información del cliente y Distribuidor.
                            <i class="fas fa-level-down-alt"></i>
                        </h3>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre del cliente</mat-label>
                                    <input matInput type="text" placeholder="Nombre del cliente" formControlName="name" required>
                                    <mat-hint *ngIf="nameInvalid">Complete su(s) nombre(s).</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Apellidos del cliente</mat-label>
                                    <!-- <input matInput type="text" placeholder="Apellidos del cliente" formControlName="surname" required> -->
                                    <input matInput type="text" placeholder="Apellidos del cliente" formControlName="last_name" required>
                                    <mat-hint *ngIf="lastNameInvalid">Complete sus apellidos.</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Número de Teléfono</mat-label>
                                    <input matInput type="tel" placeholder="1234567890" formControlName="phone_1" #phone_1 (keyup)="maxLengthCheck(phone_1)" maxlength="10" required>
                                    <mat-hint *ngIf="phoneLength">Su número debe ser de 10 dígitos, verifique.</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <!-- Car dealer -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Distribuidor</mat-label>
                                    <input matInput type="text" placeholder="Nombre del distribuidor" formControlName="dealership_name" required>
                                    <!-- <mat-select placeholder="Seleccione el distribuidor" formControlName="distributor" required>
                                        <mat-option value="ABP">ABP</mat-option>
                                        <mat-option value="ABP Zacatelco">ABP zacatelco</mat-option>
                                        <mat-option value="Vecsa pachuca">Vecsa pachuca</mat-option>
                                        <mat-option value="ABCars">ABCars</mat-option>
                                    </mat-select> -->
                                    <mat-hint *ngIf="distributorInvalid">Complete el nombre del distribuidor.</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <h3 class="fw-light text-truncate">
                                Valuación e información del auto.
                                <i class="fas fa-level-down-alt"></i>
                            </h3>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>País de origen</mat-label>
                                    <!-- <mat-select placeholder="Seleccione país de origen" formControlName="origin_country" required> -->
                                    <mat-select placeholder="Seleccione país de origen" formControlName="country_of_origin" required>
                                        <mat-option value="china">China</mat-option>
                                        <mat-option value="estados_unidos">Estados Unidos</mat-option>
                                        <mat-option value="japon">Japón</mat-option>
                                        <mat-option value="india">India</mat-option>
                                        <mat-option value="alemania">Alemania</mat-option>
                                        <mat-option value="mexico">México</mat-option>
                                        <mat-option value="corea_del_sur">Corea del Sur</mat-option>
                                        <mat-option value="brasil">Brasil</mat-option>
                                        <mat-option value="espana">España</mat-option>
                                        <mat-option value="francia">Francia</mat-option>
                                        <mat-option value="canada">Canadá</mat-option>
                                        <mat-option value="rusia">Rusia</mat-option>
                                        <mat-option value="tailandia">Tailandia</mat-option>
                                        <mat-option value="reino_unido">Reino Unido</mat-option>
                                        <mat-option value="indonesia">Indonesia</mat-option>
                                        <mat-option value="republica_checa">República Checa</mat-option>
                                        <mat-option value="turquia">Turquía</mat-option>
                                        <mat-option value="eslovaquia">Eslovaquia</mat-option>
                                        <mat-option value="iran">Irán</mat-option>
                                        <mat-option value="italia">Italia</mat-option>
                                        <mat-option value="polonia">Polonia</mat-option>
                                        <mat-option value="malasia">Malasia</mat-option>
                                        <mat-option value="belgica">Bélgica</mat-option>
                                        <mat-option value="sudafrica">Sudáfrica</mat-option>
                                        <mat-option value="argentina">Argentina</mat-option>
                                        <mat-option value="taiwan">Taiwán</mat-option>
                                        <mat-option value="rumania">Rumania</mat-option>
                                        <mat-option value="hungria">Hungría</mat-option>
                                        <mat-option value="australia">Australia</mat-option>
                                        <mat-option value="uzbekistan">Uzbekistán</mat-option>
                                        <mat-option value="portugal">Portugal</mat-option>
                                        <mat-option value="suecia">Suecia</mat-option>
                                        <mat-option value="austria">Austria</mat-option>
                                        <mat-option value="eslovenia">Eslovenia</mat-option>
                                        <mat-option value="colombia">Colombia</mat-option>
                                        <mat-option value="ucrania">Ucrania</mat-option>
                                        <mat-option value="paises_bajos">Países Bajos</mat-option>
                                        <mat-option value="pakistan">Pakistán</mat-option>
                                        <mat-option value="egipto">Egipto</mat-option>
                                        <mat-option value="filipinas">Filipinas</mat-option>
                                        <mat-option value="marruecos">Marruecos</mat-option>
                                        <mat-option value="venezuela">Venezuela</mat-option>
                                        <mat-option value="vietnam">Vietnam</mat-option>
                                        <mat-option value="ecuador">Ecuador</mat-option>
                                        <mat-option value="bielorrusia">Bielorrusia</mat-option>
                                        <mat-option value="serbia">Serbia</mat-option>
                                        <mat-option value="finlandia">Finlandia</mat-option>
                                        <mat-option value="nigeria">Nigeria</mat-option>
                                        <mat-option value="chile">Chile</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="origincountryInvalid">Escriba el país de orígen del vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Transmisión</mat-label>
                                    <mat-select placeholder="Seleccionar una transmision" formControlName="transmission" required>
                                        <mat-option value="automatic">Automática</mat-option>
                                        <mat-option value="manual">Manual</mat-option>
                                        <mat-option value="semiautomatic">Semi Automática</mat-option>
                                        <mat-option value="cvt">CVT</mat-option>
                                        <mat-option value="dual-clutch">DSG</mat-option>
                                        <mat-option value="others">Otros</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="transmissionInvalid">Seleccione la transmisión.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <!-- Engine Suction -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Aspiración del Motor</mat-label>
                                    <!-- <mat-select placeholder="Seleccionar tipo de aspiración" formControlName="engine_suction" required> -->
                                    <mat-select placeholder="Seleccionar tipo de aspiración" formControlName="intake_engine" required>
                                        <mat-option value="normal">Normal</mat-option>
                                        <mat-option value="turbo">Turbo</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="enginesuctionInvalid">Seleccione el tipo de aspiración.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <!-- Start Stop -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Start-stop</mat-label>
                                    <!-- <mat-select placeholder="¿Tiene start-stop?" formControlName="start_stop" required> -->
                                    <mat-select placeholder="¿Tiene start-stop?" formControlName="auto_start_stop" required>
                                        <mat-option value="yes">Si</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="startstopInvalid">¿Tecnología Start-Stop?</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <!-- Valuation date -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Fecha de valuación</mat-label>
                                    <!-- <input matInput [matDatepicker]="datepicker" formControlName="valuation_date" #inputdate (dateChange)="dateChangeEmitter($event)" required> -->
                                    <input matInput [matDatepicker]="datepicker" formControlName="scheduled_date" #inputdate (dateChange)="dateChangeEmitter($event)" required>
                                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker></mat-datepicker>

                                    <mat-hint *ngIf="dateInvalid">Especifique la fecha de la valuación.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>VIN</mat-label>
                                    <input matInput type="text" placeholder="00000000000000000" formControlName="vin" #vin (keyup)="maxLengthCheck(vin)" maxlength="17" (keyup)="convertMayus($event)" required>
                                    <mat-hint *ngIf="vinInvalid">Escriba el vin de su vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Marca</mat-label>
                                    <input matInput type="text" formControlName="brand" required>
                                    <!-- <mat-select placeholder="Seleccionar una Marca" formControlName="brand" required>
                                        <mat-option  value="valor1">Acura</mat-option>
                                        <mat-option  value="valor2">Baic</mat-option>
                                        <mat-option  value="valor3">Bmw</mat-option>
                                    </mat-select> -->
                                    <mat-hint *ngIf="brandInvalid">Seleccione una marca.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Modelo</mat-label>
                                    <input matInput type="text" formControlName="model" required>
                                    <!-- <mat-select placeholder="Seleccionar un Modelo" formControlName="model" required>
                                        <mat-option value="valorn1">10</mat-option>
                                        <mat-option value="valorn2">11</mat-option>
                                        <mat-option value="valorn3">12</mat-option>
                                    </mat-select> -->
                                    <mat-hint *ngIf="modelInvalid">Seleccione un modelo.</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Linea</mat-label>
                                    <input matInput type="text" placeholder="Linea" formControlName="line" required>
                                    <mat-hint *ngIf="lineInvalid">Proporcione la linea del vehículo.</mat-hint>
                                </mat-form-field>
                            </div> -->

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Versión</mat-label>
                                    <input matInput type="text" placeholder="LTZ" formControlName="version" required>
                                    <mat-hint *ngIf="versionInvalid">Escriba la versión de su vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Año</mat-label>
                                    <mat-select placeholder="Seleccione el año del vehículo" formControlName="year" required>
                                        <mat-option *ngFor="let year of years" value="{{ year }}">{{ year }}</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="yearInvalid">Seleccione un año.</mat-hint>
                                </mat-form-field>
                            </div>

                            
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Carrocería</mat-label>
                                    <input matInput type="text" placeholder="Carroceria" formControlName="body" required>
                                    <mat-hint *ngIf="bodyInvalid">Proporcione el tipo de carrocería del vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Kilometraje</mat-label>
                                    <input matInput type="number" placeholder="0000000" min="1" max="9999999999" formControlName="mileage" #mileage (keyup)="maxLengthCheck(mileage)" maxlength="10" required>
                                    <mat-hint *ngIf="mileageInvalid">Escriba el kilometraje de su vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Color</mat-label>
                                    <!-- <input matInput type="text" placeholder="Color" formControlName="color" required> -->
                                    <input matInput type="text" placeholder="Color" formControlName="exterior_color" required>
                                    <mat-hint *ngIf="colorInvalid">Proporcione el color del vehículo.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Placa</mat-label>
                                    <input matInput type="text" placeholder="0000000" formControlName="plates" #plate (keyup)="maxLengthCheck(plate)" maxlength="7" (keyup)="convertMayus($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Cilindros</mat-label>
                                    <!-- <mat-select placeholder="Selecciona el número de cilindros" formControlName="cilindres" required> -->
                                    <mat-select placeholder="Selecciona el número de cilindros" formControlName="cylinders" required>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="6">6</mat-option>
                                        <mat-option value="8">8</mat-option>
                                        <mat-option value="12">12</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="cylinderInvalid">Proporcione el número de cilindros del vehículo</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <!-- <mat-form-field appearance="outline">
                                    <mat-label>Tipo de motor</mat-label>
                                    <input matInput type="number" placeholder="1.0 o 2.5" formControlName="engine_type" min="0" required>
                                    <mat-hint *ngIf="engineInvalid">Complete el tipo de motor.</mat-hint>
                                </mat-form-field> -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Tipo de motor</mat-label>
                                    <input matInput type="text" placeholder="1.0 o 2.5" formControlName="engine_type" min="0" required>
                                    <mat-hint *ngIf="engineInvalid">Complete el tipo de motor.</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre del Tecnico</mat-label>
                                    <mat-select placeholder="Seleccione el tecnico" formControlName="appraiserTechnician" (selectionChange)="onMyChange()" required>
                                        <mat-option *ngFor="let technician of technicians" value="{{ technician.uuid }}">{{ technician.user_profile.name }} {{ technician.user_profile.last_name }}</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="appraiserTechnicianInvalid">Seleccione un tecnico.</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="mt-3">
                        <button *ngIf="btn_save" mat-button type="button" matStepperNext class="btn abcars-background-color-blue mt-3 mx-2 px-3" (click)="onCustomerInformation()"  [disabled]="customerInformationForm.invalid">
                            Guardar
                        </button>
                        <button *ngIf="btn_follow" mat-button type="button" matStepperNext class="btn abcars-background-color-blue mt-3 mx-2 px-3"> <!--  -->
                            Siguiente
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="mechanicElectricForm" errorMessage="mechanicElectricForm">
                <form [formGroup]="mechanicElectricForm"> <!--(ngSubmit)="onMechanicalElectronic()"-->
                    <ng-template matStepLabel>Mecánica y Eléctrica</ng-template>
                    <div class="col-12">
                        <div class="row">
                            <!-- <div *ngFor="let check of checklist" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"> -->
                            <div *ngFor="let check of checklistMechanicElectric" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                <div *ngIf="check.section_name === 'Mecánica y Eléctrica' " class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline" *ngIf="check.value_type === 'select'">
                                            <mat-label>{{check.name}}</mat-label>
                                            <mat-select [formControlName]="check.uuid" placeholder="Seleccione una opción" (selectionChange)="onSelectChange($event, check.uuid)" required> 
                                                <mat-option *ngFor="let value of check.values" [value]="value">{{ value }}</mat-option> <!--check.selected_value != null ? check.selected_value : value-->
                                            </mat-select>
                                            <mat-hint *ngIf="mechanicElectricForm.get(check.uuid)?.invalid && mechanicElectricForm.get(check.uuid)?.touched">
                                                Por favor seleccione una opción.
                                            </mat-hint>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" *ngIf="check.value_type === 'number'">
                                            <mat-label>{{ check.name }}</mat-label>
                                            <input matInput type="number" [formControlName]="check.uuid" (input)="onInputChange($event, check.uuid)" (focus)="inputFocus = true" (blur)="onInputBlur( check.uuid)" required>
                                            <mat-hint *ngIf="mechanicElectricForm.get(check.uuid)?.invalid && mechanicElectricForm.get(check.uuid)?.touched">
                                                Por favor ingrese el valor.
                                            </mat-hint>
                                          </mat-form-field>
                              
                                          <mat-form-field appearance="outline" *ngIf="check.value_type === 'textArea'">
                                            <mat-label>{{ check.name }}</mat-label>
                                            <textarea matInput (input)="onInputChange($event, check.uuid)" (focus)="inputFocus = true" (blur)="onInputBlur( check.uuid)">{{check.selected_value}}</textarea>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button mat-button type="button" matStepperPrevious class="btn  abcars-background-color-black mt-3 mx-2 px-3">
                            Regresar
                        </button>
                        <!-- <button mat-button type="submit" class="btn abcars-background-color-blue mt-3 mx-2 px-3" [disabled]="mechanicElectricForm.invalid || spinner">
                            <span *ngIf="!spinner">{{ saveUpdateMechanic ? 'Actualizar' : 'Guardar' }}</span>
                            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button> -->
                        <button mat-button type="button" matStepperNext class="btn abcars-background-color-blue mt-3 mx-2 px-3">
                            Siguiente
                        </button>
                        <button mat-button type="button" (click)="openSparePartsForm()" class="btn abcars-background-color-blue mt-3 mx-2 px-3"> <!--(click)="openSparePartsForm()"-->
                            Agregar Refacciones
                        </button>
                    </div>

                </form>
            </mat-step>

        </mat-stepper>
    </div>
</div>
