<div class="container">
    <div class="row">
        <h1 class="fw-bold mt-3">Agregar Imagenes Interior</h1>
        <div class="col-12">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Subir imagenes principales</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <div class="gridOtros">
                            <div class="dragImaCars containerl" *ngFor="let image of carImagesPaths; let i = index">
                                <div *ngIf="image[2] == 'no'; else updateImageDiv ">
                                    <div (click)="markAsTouched(i); cambiarImgInputs.get(i)?.nativeElement?.click()">
                                        <img class="img-cars" [src]="image[1]" class="d-block w-100">
                                        <input type="file" class="d-none" #cambiarImgInput (change)="saveImage($event, i)" [formControl]="getImageControl(i)" accept=".jpg, .jpeg, .png, .webp">
                                    </div>
                                    <mat-hint *ngIf="getImageControl(i).hasError('required') && getImageControl(i).touched">
                                        Seleccione una imagen para esta entrada.
                                    </mat-hint>
                                </div>
                                <ng-template #updateImageDiv>
                                    <div (click)="cambiarImgInputs.get(i)?.nativeElement?.click()">
                                        <img class="img-cars" [src]="image[1]" class="d-block w-100">
                                        <input type="file" class="d-none" #cambiarImgInput (change)="saveImage($event, i)" [formControl]="getImageControl(i)" accept=".jpg, .jpeg, .png, .webp">
                                    </div>
                                </ng-template>
                                
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Otros</mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <div class="gridOtros">
                            <div class="dragImaCars containerl" *ngFor="let image of carImagesPathsOthers"> <!---->
                                <img class="img-cars" [src]="image" class="d-block w-100">
                            </div>
                        </div>
                        <mat-list-item class="mt-5">
                            <div mat-line class="fw-bold">Agregar foto de daños</div>
                            <div mat-line>
                                <input type="file" multiple id="picture" accept="image/*" (change)="fileCapture($event)" [disabled]="spinner">
                                <span *ngIf="spinner">Cargando imagen {{ count }}
                                    <span *ngIf="spinner" class="spinner-border spinner-border-sm mt-1" role="status" aria-hidden="true"></span>
                                </span>
                            </div>
                        </mat-list-item>

                        <mat-divider></mat-divider>
                    </mat-list>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>
